/*GENERAL*/
*{
    box-sizing:border-box; 
}

/*NAVBAR*/
.flex-container
{
    display: flex;
    flex-direction: row;
    background: rgb(55, 55, 55);
    width: 100%;
    display: flex;
    align-items: center;

}
#dot
{
    color:orange; 
    font-size: 30px;
}
#logo
{
    margin-left : 30px; 
}
#logo h1
{
    color:white; 
    font-size: 30px;
}
ul {
    display: flex;
    list-style: none;
}

ul li {
    margin: 0 10px;
}
ul li:hover {
    background-color: white;
}

ul li a {
    color: rgb(161, 161, 161);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}
ul i 
{
    margin:0px 5px; 
    font-size: 5px;
}

/*      RESPONSIVITY NAVBAR      */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-item-left {
        flex: 50%;
      }
      
    .flex-item-right {
        flex: 50%;
        flex-direction: column;
      }
    .row{
        display: flex;
        flex-wrap:wrap ; 
    }
    .column
    {
        flex:25% ; 
        margin:10px 400px ;
    } 
  }